body {
  background: #fff;
  font-family: sans-serif;
}

$color-border: #096b72;
$color-bg: #fff;
$color-window: rgb(226, 240, 241);
$color-shade: #ffc107;
$border-radius: 4px;
$one-meter: 80px;

@mixin border {
  border: 4px solid $color-border;
}

@mixin utility-border {
  border: 2px solid $color-border;
}


.main-floor {
  margin: 4em auto;
  display: grid;
  width: 720px;
  grid-template-columns: repeat(3, 80px) 120px repeat(4, 80px) 40px;
  grid-template-rows: repeat(8, 80px);
  position: relative;
  > div {
    position: relative;
  }
}

.bathroom {
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
  z-index: 2;
  @include border;
  border-width: 4px 0 4px 4px;
}

.bedroom-1 {
  grid-column: 1/span 3;
  grid-row: 3/span 5;
  @include border;
  border-width: 0 0 4px 4px;
}

.bedroom-2 {
  grid-column: 4/span 2;
  grid-row: 5/span 3;
  @include border;
  border-width: 4px 4px 4px 4px;
}

.hallway {
  grid-column: 4 / span 1;
  grid-row: 1 / span 4;
  @include border;
  border-width: 4px 4px 0 4px;
}

.kitchen {
  grid-column: 5 / span 5;
  grid-row: 3 / span 2;
  @include border;
  border-width: 4px 4px 0 0;
}

.living-room {
  grid-column: 6/span 4;
  grid-row: 5/span 3;
  @include border;
  border-width: 0 4px 4px 0;
}


/* Stuff in rooms */
.hallway {
  .main-entry {
    top: -55px;
    left: 23px;
    transform: rotate(180deg);
  }
  .bathroom-entry {
    top: 80px;
    left: -4px;
    transform: scaleY(-1);
  }
  .bedroom1-entry {
    bottom: 18px;
    left: -55px;
    transform: scaleX(-1);
  }
  .bedroom2-entry {
    bottom: -55px;
    left: 23px;
  }
  .living-entry {
    bottom: 18px;
    left: 61px;
    transform: rotate(180deg);
  }
}


.kitchen {
  .ref {
    position: absolute;
    @include utility-border;
    top: -2px;
    width: 48px;
    height: 48px;
    left: 4px;
    &:after {
      content: "";
      position: absolute;
      bottom: -4px;
      left: -4px;
      width: 52px;
      height: 5px;
      background: #fff;
      @include utility-border;

    }
  }

  .cabinets {
    position: absolute;
    @include utility-border;
    top: -2px;
    width: 295px;
    height: 48px;
    left: 60px;
    .stove {
      position: absolute;
      width: 48px;
      height: 40px;
      @include utility-border;
      left: 104px;
      top: 2px;
      .stove-top1{
        &:before,
        &:after {
          content: "";
          position: absolute;
          width: 16px;
          height: 16px;
          top: 18px;
          border-radius: 50%;
          @include utility-border;
          left: 3px;
        }
        &:after {
          right: 3px;
          left: auto;
        }
      }
      .stove-top2{
        &:before,
        &:after {
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          top: 2px;
          border-radius: 50%;
          @include utility-border;
          left: 6px;
        }
        &:after {
          right: 6px;
          left: auto;
        }
      }
    }

    .sink-tap-1,
    .sink-tap-2 {
      position: absolute;
      width: 14px;
      height: 28px;
      @include utility-border;
      left: 202px;
      top: 10px;
      border-radius: 4px;
    }
    .sink-tap-2 {
      left: 223px;
      width: 22px;

      &:before {
        content: "";
        position: absolute;
        border-radius: 50%;
        width: 4px;
        height: 4px;
        border: 1px solid #096b72;
        left: -6px;
        top: -9px;
      }
    }
  }

}


/*utilities*/


.door-hor {
  position: absolute;
  background: $color-bg;
  width: 70px;
  height: 55px;
  overflow: hidden;
  z-index: 10;
  &:before {
    content: "";
    position: absolute;
    background: #fff;
    width: 4px;
    height: 50px;
    border: 1px solid #096b72;
  }
  &:after {
    content: "";
    position: absolute;
    height: 100px;
    width: 120px;
    right: 0px;
    bottom: 3.5px;
    border-radius: 82%;
    border: 1px solid #096b72;
  }
}

.door-ver {
  position: absolute;
  background: $color-bg;
  width: 55px;
  height: 70px;
  overflow: hidden;
  z-index: 10;
  &:before {
    content: "";
    position: absolute;
    background: #fff;
    height: 4px;
    width: 52px;
    border: 1px solid #096b72;
  }
  &:after {
    content: "";
    position: absolute;
    width: 100px;
    height: 120px;
    right: 1px;
    bottom: 0.5px;
    border-radius: 50%;
    border: 1px solid #096b72;
  }
}

.window-hor {
  position: absolute;
  top: -6px;
  height: 6px;
  border: 2px solid $color-border;
  width: 80px;
  background: $color-window;
  z-index: 10;
}

.window-ver {
  position: absolute;
  right: -6px;
  top: 8px;
  height: 140px;
  border: 2px solid $color-border;
  width: 6px;
  background: $color-window;
}

.vanity {
  width: 90px;
  height: 30px;
  position: absolute;
  @include utility-border;
  bottom: -2px;
  right: -2px;
  &:before {
    content: "";
    position: absolute;
    border: 1px solid $color-border;
    box-shadow: 0 0 0 2px $color-bg, 0 0 0 3px $color-border;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 5px;
    left: 50%;
    margin-left: -7.5px;
  }
}

.toilet {
  width: 30px;
  height: 8px;
  position: absolute;
  @include utility-border;
  bottom: -2px;
  left: 40px;
  &:after {
    content: "";
    position: absolute;
    @include utility-border;
    height: 22px;
    width: 20px;
    border-radius: 20px 20px 0 0;
    top: -26px;
    left: 50%;
    margin-left: -12px;
  }
}


.shower {
  width: 55px;
  height: 50px;
  position: absolute;
  @include utility-border;
  top: -2px;
  left: -2px;
  border-radius: 0 0% 2000% 0;
  &:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    border: 1px solid #096b72;
    left: 6px;
    top: 6px;
  }
}

.bed {
  width: 140px;
  height: 70px;
  position: absolute;
  @include utility-border;
  right: -2px;
  top: 35px;
  border-radius: 8px 0 0 8px;
  background: $color-bg;
  .blanket {
    width: 55%;
    left: 0;
    position: absolute;
    top: 0;
    height: 100%;
    border-right: 2px solid $color-border;
    background: repeating-linear-gradient(
                    to right,
                    transparent,
                    transparent 6px,
                    rgba($color-border, 0.5) 6px,
                    rgba($color-border, 0.5) 8px
    ),
    repeating-linear-gradient(
                    to bottom,
                    transparent,
                    transparent 6px,
                    rgba($color-border, 0.5) 6px,
                    rgba($color-border, 0.5) 8px
    );
    &:before {
      content: "";
      position: absolute;
      right: -18px;
      width: 0;
      height: 100%;
      border-right: 2px solid $color-border;
    }
  }
  .pillow {
    width: 25px;
    @include utility-border;
    height: 40px;
    border-radius: 6px;
    right: 8px;
    top: 14px;
    position: absolute;
    background: $color-shade;
  }
}

.bed-table {
  width: 30px;
  height: 30px;
  top: -2px;
  right: -2px;
  position: absolute;
  @include utility-border;
}

.table {
  width: 90px;
  height: 15px;
  bottom: -2px;
  right: 20px;
  position: absolute;
  @include utility-border;
  &:before {
    content: "";
    position: absolute;
    @include utility-border;
    width: 20px;
    height: 16px;
    top: -20px;
    left: 50%;
    margin-left: -10px;
    border-radius: 40px 40px 0 0;
    background: linear-gradient(
                    to bottom,
                    transparent 0,
                    transparent 50%,
                    $color-border 50%,
                    $color-border 60%,
                    transparent 60%
    );
  }
}

.sofa {
  width: 130px;
  height: 40px;
  bottom: -2px;
  right: 20px;
  position: absolute;
  @include utility-border;
  border-radius: 8px 8px 0 0;
  background: $color-shade;
  &:before {
    content: "";
    position: absolute;
    @include utility-border;
    border-width: 0 2px 2px;
    width: 80%;
    height: 70%;
    left: 8%;
    border-radius: 0 0 4px 4px;
    background: $color-bg;
  }
  &:after {
    content: "";
    position: absolute;
    @include utility-border;
    width: 30px;
    height: 30px;
    transform: rotate(60deg);
    left: -50px;
    bottom: 50px;
    border-radius: 6px;
    background: $color-shade;
  }
}

.coffee-table,
.patio-table {
  width: 40px;
  height: 40px;
  bottom: 60px;
  right: 80px;
  border-radius: 50%;
  position: absolute;
  @include utility-border;
  background: $color-bg;
}

.patio-table {
  width: 30px;
  height: 30px;
  bottom: 35px;
  z-index: 25;
}

.patio-chair {
  width: 34px;
  height: 26px;
  bottom: 30px;
  left: 65px;
  border-radius: 20px 20px 0 0;
  position: absolute;
  @include utility-border;
  background: $color-shade;
  z-index: 25;
  transform: rotate(-95deg);
  &:before {
    content: "";
    position: absolute;
    width: 25px;
    height: 82%;
    border-radius: inherit;
    background: $color-bg;
    bottom: 0;
    left: 10%;
    border: 1px solid $color-border;
    border-width: 1px 1px 0;
  }
  &:nth-child(5) {
    transform: rotate(15deg);
    bottom: 75px;
    left: 115px;
  }
}

.tv-set {
  width: 140px;
  height: 20px;
  top: -2px;
  right: 35px;
  border-radius: 0 0 50% 50%;
  position: absolute;
  @include utility-border;
}

.rug {
  width: 150px;
  height: 110px;
  top: 25px;
  right: 35px;
  position: absolute;
  background: rgba($color-shade, 0.25);
}

.name {
  font: 600 14px/1 sans-serif;
  text-transform: uppercase;
  color: $color-border;
  position: absolute;
  text-align: center;
  z-index: 30;
}

.kitchen .name {
  top: 50%;
  left: 15%;
}

.living-room .name {
  top: 38px;
  left: 30%;
}

.bedroom-1 .name {
  width: 100px;
  top: 25px;
  left: 130px;
}

.bedroom-2 .name {
  width: 100px;
  bottom: 25px;
  left: 25px;
}


.bathroom-1 .name {
  bottom: 40px;
  right: 50px;
}

.balcony .name {
  display: none;
}

.size {
  display: none
}
