@import 'core';
@import 'grid';
@import 'utilities';
@import 'placement';
@import 'text';


body {
  background: $color-bg;
  font-family: sans-serif;
}

.explanation {
  text-align: center;
  color: $color-border;
  line-height: 1;
  text-transform: uppercase;
}